@{
    ViewBag.Title = "Home";
}





<div class="icon-boxes">
    <div class="container-fluid">
        <div class="flex flex-wrap align-items-stretch">
            <div class="icon-box">
                <div class="icon">
                    <span class="ti-user"></span>
                </div><!-- .icon -->
                <header class="entry-header">
                    <h2 class="entry-title">Track User progress</h2>
                </header><!-- .entry-header -->
                <div class="entry-content">
                    <p>Enables both employees and managers the ability to track yearly progress in completing courses</p>
                </div><!-- .entry-content -->
                <footer class="entry-footer read-more">
                    <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                </footer><!-- .entry-footer -->
            </div><!-- .icon-box -->
            <div class="icon-box">
                <div class="icon">
                    <span class="ti-folder"></span>
                </div><!-- .icon -->
                <header class="entry-header">
                    <h2 class="entry-title">Embed Feature</h2>
                </header><!-- .entry-header -->
                <div class="entry-content">
                    <p>Embed YouTube videos or PDF for lesson content</p>
                </div><!-- .entry-content -->
                <footer class="entry-footer read-more">
                    <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                </footer><!-- .entry-footer -->
            </div><!-- .icon-box -->
            <div class="icon-box">
                <div class="icon">
                    <span class="ti-book"></span>
                </div><!-- .icon -->
                <header class="entry-header">
                    <h2 class="entry-title">Create Lessons & Courses</h2>
                </header><!-- .entry-header -->
                <div class="entry-content">
                    <p>Create new courses to train your employees and become better equipped in your workplace</p>
                </div><!-- .entry-content -->
                <footer class="entry-footer read-more">
                    <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                </footer><!-- .entry-footer -->
            </div><!-- .icon-box -->
            <div class="icon-box">
                <div class="icon">
                    <span class="ti-world"></span>
                </div><!-- .icon -->
                <header class="entry-header">
                    <h2 class="entry-title">Access Anywhere</h2>
                </header><!-- .entry-header -->
                <div class="entry-content">
                    <p>TrinityLMS is accessible on any mobile device.</p>
                </div><!-- .entry-content -->
                <footer class="entry-footer read-more">
                    <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                </footer><!-- .entry-footer -->
            </div><!-- .icon-box -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .icon-boxes -->


<section class="testimonial-section">
    <!-- Swiper -->
    <div class="swiper-container testimonial-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
                            <figure class="user-avatar">
                                <img src="~/Content/images/user-1.jpg" alt="">
                            </figure><!-- .user-avatar -->
                        </div><!-- .col -->
                        <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                            <div class="entry-content">
                                <p>Together as teachers, students and universities we can help make this education available for everyone.</p>
                            </div><!-- .entry-content -->
                            <div class="entry-footer">
                                <h3 class="testimonial-user">Russell Stephens - <span>University in UK</span></h3>
                            </div><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .swiper-slide -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
                            <figure class="user-avatar">
                                <img src="~/Content/images/user-2.jpg" alt="">
                            </figure><!-- .user-avatar -->
                        </div><!-- .col -->
                        <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                            <div class="entry-content">
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div><!-- .entry-content -->
                            <div class="entry-footer">
                                <h3 class="testimonial-user">Robert Stephens - <span>University in Oxford</span></h3>
                            </div><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .swiper-slide -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 flex order-2 order-lg-1 align-items-center mt-5 mt-lg-0">
                            <figure class="user-avatar">
                                <img src="~/Content/images/user-3.jpg" alt="">
                            </figure><!-- .user-avatar -->
                        </div><!-- .col -->
                        <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                            <div class="entry-content">
                                <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            </div><!-- .entry-content -->
                            <div class="entry-footer">
                                <h3 class="testimonial-user">James Stephens - <span>University in Cambridge</span></h3>
                            </div><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .swiper-slide -->
        </div><!-- .swiper-wrapper -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                    <div class="swiper-pagination position-relative flex justify-content-center align-items-center"></div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .testimonial-slider -->
</section><!-- .testimonial-section -->